<div>
<table border="2">
    <tr><th>product id</th><th>Product name</th><th>Product code</th><th>price</th></tr>
    <tr *ngFor="let p of parr">
        <td>{{p.pid}}</td>
        <td>{{p.pname|testpipe:p.price}}</td>
        <td>{{p.pname|slice:'0':'3'}}</td>
        <td>{{p.price|currency:"Rs."}}</td>
        <td><a (click)="deleteProduct(p)">delete</a>/
            <a (click)="updateProduct(p)">edit</a></td>
    </tr> 
</table>
<button type="button" name="btn" (click)="displayForm()">Add Product</button>
<div *ngIf="flag">
    <pform [upob]="pob" (myevent)="parr=$event" (myevent1)="flag=$event"></pform>
</div>
</div>